header {
  background-color: #0D0D0D;
  padding: 5px;
}
header img {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 5%;
  padding: 5px;
}

.cabeza {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
nav a {
  color: #6C8C74;
  text-decoration: none;
  padding: 5px;
  transition: color 1s;
}
nav a:hover {
  color: #F2F2F2;
  font-size: 1rem;
}

.cabecera img {
  display: flex;
  width: 100%;
}

body {
  background-color: #404040;
  background: linear-gradient(180deg, rgb(64, 64, 64) 41%, rgb(13, 13, 13) 83%);
  margin: 0;
}

h1 {
  color: #F2F2F2;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  margin: 10px;
}

article img {
  width: 30%;
  border: solid 4px;
  display: flex;
  justify-content: center;
}
article h2 {
  text-align: center;
  margin: 5px;
  color: #F2F2F2;
}

.menu div {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 40px;
  justify-content: space-around;
  justify-items: center;
}

.btn-primary {
  background-color: #6C8C74;
  border: #6C8C74;
  --bs-btn-disabled-color: #0D0D0D;
  --bs-btn-disabled-border-color: #6C8C74;
  --bs-btn-hover-bg: #0D0D0D;
  --bs-btn-disabled-bg: #0d0d0d;
}

p {
  color: #F2F2F2;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.ubicacion {
  color: #F2F2F2;
  text-transform: capitalize;
  font-size: 25px;
  font-style: italic;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.ubiHorarios {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 5px;
}
.ubiHorarios iframe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 40px;
}

.ubiDatos {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
}
.carrusel-custom {
  width: 300px;
  height: 400px;
  margin: 40px auto;
}

footer {
  background-color: #0D0D0D;
}
footer img {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 5%;
}
footer a {
  color: #6C8C74;
  text-decoration: none;
  padding: 5px;
  transition: color 1s;
}
footer a:hover {
  color: #F2F2F2;
  font-size: 1.5rem;
}

.redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0;
  color: #F2F2F2;
  text-decoration: none;
  padding: 5px;
}

.iconos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  margin: auto;
}

@media (max-width: 425px) {


  .cabeza {
    flex-direction: column;
    text-align: center;
  }

  header img {
    width: 35%;
    margin: 10px auto;
  }

  nav ul {
    flex-direction: column;
    gap: 5px;
    padding: 0;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
    text-align: center;
  }
  .menu img {
    width: 80%;
  }

  .card {
    flex-direction: column;
    margin: 10px auto;
    gap: 15px;
    text-align: center;
  }
  article img {
    width: 70%;
    margin: auto;
  }
  .contenedor {
    flex-direction: column;
    gap: 10px;
  }

  .ubiHorarios {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ubiHorarios iframe {
    width: 100%;
    margin: 10px 0;
  }

  .ubiDatos {
    text-align: center;
    font-size: 18px;
  }

  .carrusel-custom {
  width: 90%;
  height: auto;
  margin: 20px auto;
  }

  .carousel-inner img {
  height: auto;
  object-fit: cover;
  }

  footer {
      text-align: center;
      padding: 10px;
  }

  footer img {
      width: 20%;
      margin: auto;
  }

  .redes {
      flex-direction: column;
      font-size: 14px;
      padding: 5px 0;
  }

  .iconos img,
  .iconos i {
      width: 24px;
      height: 24px;
  }

  .iconos {
      gap: 10px;
  }

}
