footer {
	background-color: $background-color_1;
	img {
		display: flex;
		flex-direction: row;
		justify-content: left;
		width: 5%;
	}
    a {
		color: $color_2;
		text-decoration: none;
		padding: 5px;
        transition: color 1s;
	}
    a:hover{
        color: $color_1;
        font-size: 1.5rem;
    }
}

.redes {
	@include flexRowCenter;
	justify-content: left;
	margin: 0;
	color: $color_1;
	text-decoration: none;
	padding: 5px;
}
.iconos {
	@include flexRowCenter;
	justify-content: space-evenly;
	width: auto;
	margin: auto;
}